<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/styles.css')}}">
    <title>ex2 cu grafice</title>
</head>
<body>
    <h1>Grafic cu toate valorile: </h1>
    <img src="{{url_for('static', filename= 'images/graf1.png')}}" alt="graf1">

    <h1>Grafic cu primele X valori:</h1>
    <img src="{{url_for('static', filename= 'images/graf2.png')}}" alt="graf2">

    <h1>Grafic cu ultimele Y ale Durata si Puls:</h1>
    <img src="{{url_for('static', filename= 'images/graf3.png')}}" alt="graf3">
    
</body>
</html>